@if (tabs().length) {
  <mat-tab-group
    class="entry-tabs"
    [selectedIndex]="activeIndex()"
    (selectedTabChange)="onTabChange($event)"
    (wheel)="onTabStripWheel($event)"
    (pointerdown)="onStripPointerDown($event)"
    (pointermove)="onStripPointerMove($event)"
    (pointerup)="onStripPointerEnd($event)"
    (pointercancel)="onStripPointerEnd($event)"
    [fitInkBarToContent]="true"
    animationDuration="160ms"
  >
    @for (tab of tabs(); track tab.id) {
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="entry-tab-label" [class.dirty]="tab.dirty" [matTooltip]="tab.title">
            <span class="tab-title">
              @if (tab.dirty) {
                <span class="dirty-dot"></span>
              }
              {{ tab.title }}
            </span>
            <button
              type="button"
              class="close-btn"
              (click)="closeTab($event, tab.id)"
              [attr.aria-label]="'Close tab ' + tab.title"
              matTooltip="Close tab"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>

        @let entry = entryFor()(tab.id);
        @if (entry) {
          <app-entry-fields [entry]="entry" />
        }
      </mat-tab>
    }
  </mat-tab-group>
} @else {
  <div class="empty-editor">
    <mat-icon>tab</mat-icon>
    <p>Open an entry from the list, or create a new one to start editing.</p>
    <button matButton (click)="workspace.addEntry()">New entry</button>
  </div>
}
